<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nutriscan.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NutriScan</name>
    <description>Advanced nutrition tracking application powered by AI</description>
    <author email="tiagomatias072@gmail.com" href="http://portfolio.geniomatias.me/">NutriScan Team</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Plugins for Camera Support -->
    <plugin name="cordova-plugin-camera" spec="^6.0.0" />
    <plugin name="cordova-plugin-file" spec="^7.0.0" />
    <plugin name="cordova-plugin-media" spec="^6.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^5.0.0" />
    
    <!-- Preferences -->
    <preference name="EnableViewportScale" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageTransitionDelay" value="0" />
    <preference name="RotationLock" value="portrait" />
    
    <!-- Permissions for Android -->
    <permission name="android.permission.CAMERA" />
    <permission name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission name="android.permission.INTERNET" />
    
    <!-- iOS Platform specific settings -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>NutriScan needs camera access to analyze food photos</string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>NutriScan needs photo library access to import food photos</string>
        </config-file>
        <config-file parent="NSPhotoLibraryAddUsageDescription" target="*-Info.plist">
            <string>NutriScan needs to save photos to your library</string>
        </config-file>
    </platform>
    
    <!-- Android Platform specific settings -->
    <platform name="android">
        <allow-intent href="market:*" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
</widget>
